body{
    place-items: center;
    height: 40rem;
    display: grid;
    background-color: #1a1a2e;
}
.card{
    width: 20rem;
    height: 30rem;
}

.card_content{
    text-align: center;
    position: relative;
    width: 20rem;
    height: 30rem;
    /* on fait en sorte que l'animation mette une seconde à se terminer */
    transition: transform 0.8s;
    /* on preserve la 3d de la carte (les changements entre front et back) */
    transform-style: preserve-3d;

    /* style du texte */
    font-size: 2rem;
    font-family: Tahoma;
    color: white;
}
.card:hover .card_content{
    /* on retourne la carte */
    transform: rotateY(0.5turn);
}

.card_front, .card_back{
    /* preserve 3d agit sur le text */
    transform-style: preserve-3d;
    /* on cache ce qui est passé à l'arrière de la carte */
    backface-visibility: hidden;
    /* on détache les contenues de la card */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.card_back{
    /* la rotation de 0.5turn permet de faire passer le contenue de cette classe à l'arrière */
    transform: rotateY(0.5turn);
    /* on définit un style pour l'arrière de la carte seulement */
    background-image: url("img/2.jpg");
    background-attachment: cover;
}
.card_front{
    /* on définit un style pour l'avant de la carte seulement */
    background-image: url("img/1.jpg");
    background-attachment: cover;
}

/*on ajoute les bordure*/
.card_front::before, 
.card_back::before {
    content: '';
    --spacer: 0.5em;

    position: absolute;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);

    border: 3px solid white;
    transform: translateZ(5rem);
}
.back{
    /* donne au texte une certaine distance en avant */
    transform: translateZ(5rem);
}
.front{
    /* donne au texte une certaine distance en avant */
    transform: translateZ(10rem);
    background-color: #1a1a2e;
    border:2px solid white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}